# 1. Matikan fitur intip folder
Options -Indexes

<IfModule mod_rewrite.c>
    RewriteEngine On
    
    # 2. Jika user mengakses folder utama, arahkan ke public/index.php
    RewriteRule ^$ public/index.php [L]

    # 3. Izinkan pembacaan file di dalam folder public/ & Cegah Infinite Loop (Error 500)
    RewriteCond %{REQUEST_URI} !/public/
    RewriteRule ^(.*)$ public/$1 [L]

    # 4. Arahkan semua request URL sisanya ke gerbang utama
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ public/index.php [L,QSA]
</IfModule>